body{
    /* background-color: #dc3545; */
    background-image: url("image/background\ image.jpg");
    background-size: cover;
    background-position: bottom;
}

.Center{
    background-color: white;
    position: absolute;
    top: 50%;
    right: 25%;
    left: 32%;
    transform: translate(0, -50%);
    border: 1px ridge rgb(70, 0, 128) ;
    padding: 20px;
}

input{
    height: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


